/* Responsive */

@media screen and (max-width: 800px) {
  .img-b-atas {
    width: 300px;
  }
  .img-b-bawah {
    width: 300px;
  }
  .pojok-atas {
    width: 40%;
  }

  .pojok-bawah {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .img-b-atas {
    width: 200px;
  }
  .img-b-bawah {
    width: 200px;
  }
  .pojok-atas {
    width: 50%;
  }

  .pojok-bawah {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 992px) {
}
