/* Responsive */

@media screen and (max-width: 800px) {
  .img-b-atas {
    width: 300px;
  }
  .img-b-bawah {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .img-b-atas {
    width: 200px;
  }
  .img-b-bawah {
    width: 200px;
  }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 992px) {
}
